# up & createChannel 
fabric-network/channel-artifacts/
fabric-network/log.txt
fabric-network/organizations/ordererOrganizations/
fabric-network/organizations/peerOrganizations/
fabric-network/system-genesis-block/

# fov nodejs
chaincode/fov/javascript/node_modules/

# fabric server files
fov.tar.gz
fabric-network/organizations/fabric-ca/